{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Agregar nueva area</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/inser_area" method="POST">
        <div class="mb-3">
            <label for="area" class="form-label">Agrega la area</label>
            <input type="text" class="form-control InA" id="area" name="area">
          </div>
          <button type="submit" class="btn btnA">Agregar nueva area</button>
        </form>
    </div>
</div>
{% endblock %}