{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Modificar Escolaridad</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/upt_esco/{{escol.0}}" method="POST">
        <div class="mb-3">
            <label for="esco" class="form-label">Edita la escolaridad</label>
            <input type="text" class="form-control InE" id="esco" name="esco" value="{{escol.1}}">
          </div>
          <button type="submit" class="btn btnE">Modificar</button>
        </form>
    </div>
</div>
{% endblock %}