{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Modificar Estado Civil</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/upt_est/{{est.0}}" method="POST">
        <div class="mb-3">
            <label for="est" class="form-label">Editar el estado civil</label>
            <input type="text" class="form-control InET" id="est" name="est" value="{{est.1}}">
          </div>
          <button type="submit" class="btn btnET">Modificar</button>
        </form>
    </div>
</div>
{% endblock %}