{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Agregar nueva estado civil</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/inser_est" method="POST">
        <div class="mb-3">
            <label for="est" class="form-label">Agrega la estado civil</label>
            <input type="text" class="form-control InET" id="est" name="est">
          </div>
          <button type="submit" class="btn btnET">Agregar nueva estado civil</button>
        </form>
    </div>
</div>
{% endblock %}