{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Agregar nuevo grado de avance</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/inser_grado" method="POST">
        <div class="mb-3">
            <label for="grado" class="form-label">Agrega el grado de avance</label>
            <input type="text" class="form-control InGA" id="grado" name="grado">
          </div>
          <button type="submit" class="btn btnGA">Agregar</button>
        </form>
    </div>
</div>
{% endblock %}