{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row">
    <div class="col">
        <h1 class="titulo">Grado de Avance</h1>
    </div>
</div>
<div class="row Rtab">
    <div class="col">
        <center>
            <table class="table">
                <thead>
                    <tr class="GAcab">
                        <th scope="col">#</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" colspan="2"><center><a href="/grado_agr" class="btn btnGA">Agregar nuevo grado de avance</a></center></th> 
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for i in grados %}
                    <tr>
                        <th scope="row" class="Ops">{{i.0}}</th>
                        <td class="Ops">{{i.1}}</td>
                        <td class="Ops"><center><a href="/grado_edi/{{i.0}}" class="btn btnGA">Editar</a></center></td>
                        <td class="Ops"><center><a href="/grado_bor/{{i.0}}" class="btn btnGA">Borrar</a></center></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
    </div>
</div>
{% endblock %}