{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Agregar nueva habilidad</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/inser_hab" method="POST">
        <div class="mb-3">
            <label for="hab" class="form-label">Agrega la habilidad</label>
            <input type="text" class="form-control InH" id="hab" name="hab">
          </div>
          <button type="submit" class="btn btnH">Agregar</button>
        </form>
    </div>
</div>
{% endblock %}