{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Modificar Idioma</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/upt_idi/{{idioma.0}}" method="POST">
        <div class="mb-3">
            <label for="idi" class="form-label">Editar el idioma</label>
            <input type="text" class="form-control InI" id="idi" name="idi" value="{{idioma.1}}">
          </div>
          <button type="submit" class="btn btnI">Modificar</button>
        </form>
    </div>
</div>
{% endblock %}