{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Modificar Medio de Publicidad</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/upt_med/{{medio.0}}" method="POST">
        <div class="mb-3">
            <label for="medio" class="form-label">Editar el medio de publicidad</label>
            <input type="text" class="form-control" id="medio" name="medio" value="{{medio.1}}">
          </div>
          <button type="submit" class="btn btn-warning">Modificar</button>
        </form>
    </div>
</div>
{% endblock %}