{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/area.css">

<div class="row row-area">
    <div class="col">
        <h1 class="titulo">Agregar medio de publicidad</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/inser_med" method="POST">
        <div class="mb-3">
            <label for="medio" class="form-label">Agrega el medio de publicidad</label>
            <input type="text" class="form-control" id="medio" name="medio">
          </div>
          <button type="submit" class="btn btn-warning">Agregar</button>
        </form>
    </div>
</div>
{% endblock %}