{% extends "layout.html" %}
{% block content %}
<h1 class="titulo">
    <center><strong>Solicitud de Requisicion de Personal</strong></center>
</h1>
<br>
<br>
<form class="row g-3" action="/requisicion_fagr" method="post">
    <div class="col-md-3">
        <label for="Folio" class="form-label">Folio</label>
        <input type="text" class="form-control InR" name="Folio" id="Folio" required></input>
    </div>
    <div class="col-md-6">
        <label for="idArea" class="form-label">Área de adscripción</label>
        <select class="form-select  InR" name="idArea" id="idArea">
            <option selected> Elige...</option>
            {% for i in Ar %}
            <option value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="FechaE" class="form-label">Fecha de Elaboración</label>
        <input type="date" class="form-control InR" name="FechaE" id="FechaE" required></input>
    </div>
    <div class="col-md-12">
        <label for="idPuesto" class="form-label">Puesto</label>
        <select class="form-select  InR" name="idPuesto" id="idPuesto">
            <option selected> Elige...</option>
            {% for i in Pue %}
            <option value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
        </select>
    </div><div class="col-md-12">
        <label for="NomPueS" class="form-label">Nombre y puesto de quien solicita</label>
        <input type="text" class="form-control InR" name="NomPueS" id="NomPueS" required></input>
    </div>
    <div class="col-md-4">
        <label for="FechaRec" class="form-label">Fecha de Reclutamiento</label>
        <input type="date" class="form-control InR" name="FechaRec" id="FechaRec" required></input>
    </div>
    <div class="col-md-4">
        <label for="FechaIn" class="form-label">Fecha de Inicio Vacante</label>
        <input type="date" class="form-control InR" name="FechaIn" id="FechaIn" required></input>
    </div>
    <div class="col-md-4">
        <label for="Tipo" class="form-label">Tipo de Vacante</label>
        <select class="form-select InR" name="Tipo" id="Tipo">
            <option value="Temporal" selected> Elige...</option>
            <option value="Temporal">Temporal</option>
            <option value="Permanente">Permanente</option>
        </select>
    </div>
    <div class="col-md-12">
        <span><b>Vacante generada por: </b></span>
   </div>
   <div class="col-md-12">
      <div class="form-check form-check-inline">
      <input class="form-check-input InRCh" type="radio" name="motReq" id="motReqBaja" value="Baja">
      <label class="form-check-label" for="motReqBaja">Baja</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input InRCh" type="radio" name="motReq" id="motReqIncapacidad" value="Incapacidad">
        <label class="form-check-label" for="motReqIncapacidad">Incapacidad</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input InRCh" type="radio" name="motReq" id="motReqLicPerm" value="Licencia o Permiso" >
        <label class="form-check-label" for="motReqLicPerm">Licencia o Permiso</label>
      </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input InRCh" type="radio" name="motReq" id="motReqNuevaCrea" value="Nueva Creación" >
        <label class="form-check-label" for="motReqNuevaCrea">Nueva Creación</label>
      </div>
      <div class="form-check form-check-inline">
      <input class="form-check-input InRCh" type="radio" name="motReq" id="motReqDefun" value="Defunción">
      <label class="form-check-label" for="motReqBaja">Defunción</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input InRCh" type="radio" name="motReq" id="motReqOtro" value="Otro" >
        <label class="form-check-label" for="motReqOtro">Otro</label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="motReqEsp">Especifique</label>
        <input class="form-control InR" type="text" name="motReqEsp" id="motReqEsp"></input>
      </div>
   </div>
   <div class="col-md-4">
    <button type="submit" class="btn btnR">Enviar Requisicion</button>
</div>

</form>
<br>
<br>
<br>
<br>
<br>
{% endblock %}